@{
    ViewBag.Title = "Reports";
    Layout = null;
}

@section Styles
{
    @Styles.Render("~/Content/Styles/Main")
}

@section Scripts
{
    @Scripts.Render("~/Scripts/Main")
}

<div class="adminPage">
    <br />
    <p><a href="/reports/report/13de7c56-adc9-484e-864d-7c4809fa45d5">GreenLake</a></p>
</div>
