@model Reports.Core.Domain.Models.UserRequest

@{
    ViewBag.Title = "Reports - Request Access";
}

@section Styles
{
    @Styles.Render("~/Content/Styles/RequestAccess")
}

@section Scripts
{
    @Scripts.Render("~/Scripts/RequestAccess")
}

<div id="updateRequestThankYouPage" class="adminPage">
    <div class="content">
        <h2>Access Request Updateed</h2>
        <p>
            Your request has been updated. Someone from our team will review and respond to your request.
        </p>
    </div>
</div>
